.button {
  border: none;
  border-radius: 15px;
  background: #FDDB16;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  transition: .2s ease-in;
  cursor: pointer;

  &:hover {
    background: #d4b81a;
  }
}