$text-width: 489.24px;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text {
    margin-top: 138px;
    padding: 0px 30px;
  }

  &__title {
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    color: #070D3F;
    max-width: $text-width;
    margin-bottom: 25px;
  }

  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(85, 82, 82, 1);
    max-width: $text-width;
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 40px;
  }
}


@media (max-width: 1000px) {
  .main {
    &__title {
      font-size: 64px;
      margin-bottom: 15px;
    }

    &__desc {
      font-size: 14px;
      margin-bottom: 20px;
      background: darkorange;
      color: #070D3F;
    }
  }
}

@media (max-width: 480px) {
  .main {
    &__title {
      margin-bottom: 5px;
    }

    &__desc {
      margin-bottom: 13px;
    }
  }
}

.mainCaps {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 617.9px;


  &__caps {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 270px;
    padding-top: 50px;
  }
  &__text {
    margin-bottom: 20px;
    margin-left: 27px;
    color: rgba(255, 255, 255, 1);

  }
  &__title {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.15em;
  }
  &__desc {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 30px;
  }

  @media (max-width: 1000px) {
    &__title {
      font-size: 24px;
    }
    &__desc {
      font-size: 24px;
    }
  }

  @media (max-width: 480px) {
    &__text {
      margin-top: 20px;
    }
    &__title {
      font-size: 18px;
      color: #555252;
    }
    &__desc {
      font-size: 18px;
      color: #555252;

    }
  }

}